<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="rh_p12_gripper" params="parent prefix:='' use_sim:='false' use_fake_hardware:='false' fake_sensor_commands:='false' ros2_control:='true' *origin">
    <!-- Include the definitions -->
    <xacro:include filename="$(find franka_robot_description)/urdf/end_effectors/rh_p12_rn_a/rh_p12_rn_a.xacro" />
    <xacro:include filename="$(find franka_robot_description)/urdf/end_effectors/rh_p12_rn_a/rh_p12_rn_a.gazebo.xacro" />
    <xacro:include filename="$(find franka_robot_description)/urdf/end_effectors/rh_p12_rn_a/rh_p12_rn_a.ros2_control.xacro" />

    <!-- Joint bringing arm to gripper base -->
    <joint name="${prefix}rh_p12_rn_base_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${prefix}rh_p12_rn_base"/>
      <xacro:insert_block name="origin"/>
    </joint>

    <!-- Call macros -->
    <xacro:rh_p12_rn_a prefix="${prefix}" />
    <xacro:rh_p12_rn_a_gazebo prefix="${prefix}" />

    <xacro:if value="${ros2_control}">
      <xacro:rh_p12_rn_a_system
        name="RH_P12_RN_A_System" 
        prefix="${prefix}" 
        use_sim="${use_sim}"
        use_fake_hardware="${use_fake_hardware}"
        fake_sensor_commands="${fake_sensor_commands}"/>
    </xacro:if>
  </xacro:macro>

</robot>
